<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/details.css}">
    <link rel="stylesheet" th:href="@{/templates.css}">
</head>
<body>

<div th:replace="~{templates::header}"></div>

<main>


    <h1 th:text="${article.name}">Title</h1>
    <div>
        Category: <span th:text="${article.category}"></span>
    </div>

    <div>
        Reporter Name: <span th:text="${article.reporterName}"></span>
    </div>

    <div>
        Reporter E-mail: <span th:text="${article.reporterEmail}"></span>
    </div>

    <div>
        Content:
        <p th:text="${article.content}"></p>
    </div>




</main>



<div th:replace="~{templates::footer}"></div>



</body>
</html>