<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" th:href="@{/templates.css}">
</head>
<body>

<div th:replace="~{templates::header}"></div>

<main>





    <div class="empty" th:if="${lastTen.isEmpty()}" >
        <p>There Is No Article</p>
    </div>


    <div class="list" th:unless="${lastTen.isEmpty()}">
        <h3>The Last 10 Articles</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Reporter Name</th>
                <th>Details</th>
            </tr>
            <tr th:each="article : ${lastTen}">
                <td th:text="${article.name}"></td>
                <td th:text="${article.reporterName}"></td>
                <td><a th:href="@{/details/{id}(id = ${article.id})}">Details</a></td>
            </tr>
        </table>


    </div>

    <div class="links">
        <a class="new" th:href="@{/new}">New Article</a>
        <a class="all" th:href="@{/all}">All Article</a>
    </div>





</main>

<div th:replace="~{templates::footer}"></div>


</body>
</html>